body {
	background: url(k_tausta.jpg)
}
title {
	background-color: transparent;
}
.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 40%;
		background-color: transparent;
}

h1{
	width: auto;
	height: auto;
}

p { 
	text-align: center;
	
}
